/*
Colors used:
Primary Color (dark purple): #230C42;
Secondary Color (purple): #571C6E;
Accent Color 1 (blue): #7F0FF5;
Accent Color 2 (pink): #A01D7A;
*/
* {
  box-sizing: border-box;
}
header{
  background-color: #230C42;
}
body {
  background-color: #A01D7A;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

img {
  width: 100%;
}


h1, h2, h3, h4 {
  line height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}
a {
  color: #A01D7A;
  text-decoration: none; /* No underlining */
}

a:visited { /* visited link */
  color: #A01D7A;
}
a:hover {
  color: #571C6E;
  text-decoration: underline; /* Underlining when hovering over a link */
}
a:active { /* selected link */
  color: #571C6E;
}
.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #A01D7A;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30; /* width of the border, type, color */
  transition: 0.2s opacity;
}
  .button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
.button.contact {
  background-color: transparent;
  color: #A01D7A;
  text-transform: uppercase;
  border: 2px solid #A01D7A;
}
.button.contact:hover {
  background-color: #A01D7A;
  color: #ffffff;
}


@keyframes color-change {
  from {fill: #edc655;}
  to {fill: #f76414;}
}
.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}
@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}
.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
