/*
Colors used:
Primary Color (dark purple): #230C42;
Secondary Color (purple): #571C6E;
Accent Color 1 (blue): #7F0FF5;
Accent Color 2 (pink): #A01D7A;
*/
* {
  box-sizing: border-box;
}

header {
  background-color: #230C42;
  font-color: #ffffff;
}

body {
  background-color: #A01D7A;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

.logo {
  display: inline-block;
  width: 250px;
  margin: 0 auto;
}
.supporticon {
  display: inline-block;
  width: 500px;
  margin: 0 auto;
}


nav>ul {
  list-style-type: none;
  padding: 0;
  display: inline-block;
}

nav>ul>li {
  display: inline-block;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
  margin-bottom: -8px;
}

nav>ul>li>a {
  padding: 0 8px;
  text-transform: uppercase;
  font-weight: 700;
  color: #A01D7A;
  background-color: #ffffff;
  display: inline-block;
  text-align: right;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle.responsive li {
  display: block;
  text-align: end;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 16px;
  font-size: 20px;
  margin-bottom: 2px;
}

.navtoggle.responsive nav {
  padding: 45px 0 0;
  float: right;
}


img {
  width: 100%;
}

h1, h2, h3, h4 {
  line height: 1;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

a {
  color: #A01D7A;
  text-decoration: none;
  /* No underlining */
}

a:hover {
  color: #571C6E;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #571C6E;
}

.button {
  display: inline-block;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  /* width of the border, type, color */
  opacity: 1;
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
.button:visited {
  /* visited link */
  color: #ffffff;
}


.button.contact {
  background-color: transparent;
  color: #230C42;
  text-transform: uppercase;
  border: 2px solid #A01D7A;
}

.button.contact:hover {
  background-color: #A01D7A;
  color: #ffffff;
}
#header {
  text-align: center;
}

/* Layout styling */
.container {
  padding: 0 16px;
}

.containernav {
  padding-left: 16px;
  padding-right: 12px;
  overflow: auto;
}

.row {
  margin: 24px 0;
  /* 24px top and bottom, 0 left and right */
}

#work .row {
  padding-bottom: 48px;
  border-bottom: 1px solid #ffffff;
  padding-top: 28px;
}

#hero h1 {
  text-align: center;
  margin: 0;
  padding: 0.67rem 0;
  color: #ffffff;
}
#hero p{
  color: #ffffff;
}
#hero {
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
  background-color: #230C42;
  margin-bottom: 16px;
}

#hero span {
  display: block;
}

.center-align {
  text-align: center;
}

.about-h2 {
  text-align: left;
}

.work-top-row {
  margin-top: -24px;
}

.berlin-illustration{
  max-width: 100%;
}
@keyframes color-change {
  from {
    fill: #edc655;
  }

  to {
    fill: #f76414;
  }
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
footer {
  text-align: center;
}
#email {
  width: 50px;
  height: 50px;
}


/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  [class*="col-"] {
  float: left;
  padding: 20px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.col-md-1 {width: 8.33%;}
.col-md-2 {width: 16.66%;}
.col-md-3 {width: 25%;}
.col-md-4 {width: 33.33%;}
.col-md-5 {width: 41.66%;}
.col-md-6 {width: 50%;}
.col-md-7 {width: 58.33%;}
.col-md-8 {width: 66.66%;}
.col-md-9 {width: 75%;}
.col-md-10 {width: 83.33%;}
.col-md-11 {width: 91.66%;}
.col-md-12 {width: 100%;}
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  [class*="col-"] {
  float: left;
}
  .col-lg-1 {width: 8.33%;}
  .col-lg-2 {width: 16.66%;}
  .col-lg-3 {width: 25%;}
  .col-lg-4 {width: 33.33%;}
  .col-lg-5 {width: 41.66%;}
  .col-lg-6 {width: 50%;}
  .col-lg-7 {width: 58.33%;}
  .col-lg-8 {width: 66.66%;}
  .col-lg-9 {width: 75%;}
  .col-lg-10 {width: 83.33%;}
  .col-lg-11 {width: 91.66%;}
  .col-lg-12 {width: 100%;}
  #header {
    text-align: unset;
  }
}
#header nav {
  float: right;}
