/*
Colors used:
Primary Color (dark purple): #230C42;
Secondary Color (purple): #571C6E;
Accent Color 1 (blue): #7F0FF5;
Accent Color 2 (pink): #A01D7A;
*/
header{
  background-color: #230C42;
  padding: 10px;
  margin: 10px;
}
body {
  background-color: #230C42;
  font-family: 'Roboto', sans-serif;
  font size: 16px;
  line height: 1.6;

}

img {
  width: 100%;
}


h1, h2, h3, h4 {
  line height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}
a {
  color: #A01D7A;
  text-decoration: none; /* No underlining */
}

a:visited { /* visited link */
  color: #A01D7A;
}
a:hover {
  color: #571C6E;
  text-decoration: underline; /* Underlining when hovering over a link */
}
a:active { /* selected link */
  color: #571C6E;
}
.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #A01D7A;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30; /* width of the border, type, color */
  transition: 0.2s opacity;
}
  .button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
.button:visited {
  background-color: transparent;
  color: #7F0FF5;
  text-transform: uppercase;
  border: 2px solid #7F0FF5;
}
.button.contact {
  background-color: transparent;
  color: #A01D7A;
  text-transform: uppercase;
  border: 2px solid #A01D7A;
}
.button.contact:hover {
  background-color: #A01D7A;
  color: #ffffff;
}
